{% extends 'main_blog/base.html' %}


{% block b1 %}
{% for t in post  %}
<div class="px-4 py-5 my-5 text-center">
    <h4 class="display-5 fw-bold">{{t.title}}</h4>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{t.content}}</p>
      <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <p class="text-left">Дата зоздания статьи: {{t.now_data}}</p>
          </div>
          <div class="col">
            <p class="text-right">Дата обновления статьи: {{t.edit_data}}</p>
          </div>
        </div>
      </div>            
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{{t.get_absolute_url}}" type="button" class="btn btn-primary btn-lg px-4 gap-3">Подробнее</a>

      </div>
    </div>
  </div>
{% endfor %}
{% endblock  %}